*{
    padding:0;
    margin:0;
  }
  :root{
      --fondo_h1: #2C638F;
      --fondo: #12238F;
      --boton_borde: #F6FBF8;
      --boton_background: ;
  }
  body{
    background-color: #12238F;
    background-color: #2C638F;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.83'%3E%3Ccircle fill='%232C638F' cx='50' cy='0' r='50'/%3E%3Cg fill='%232b608f' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23295e8f' cx='50' cy='100' r='50'/%3E%3Cg fill='%23285b8f' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23265890' cx='50' cy='200' r='50'/%3E%3Cg fill='%23255590' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23245290' cx='50' cy='300' r='50'/%3E%3Cg fill='%23224f90' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23214c90' cx='50' cy='400' r='50'/%3E%3Cg fill='%23204990' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%231e4590' cx='50' cy='500' r='50'/%3E%3Cg fill='%231d4290' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%231c3f90' cx='50' cy='600' r='50'/%3E%3Cg fill='%231a3c90' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23193890' cx='50' cy='700' r='50'/%3E%3Cg fill='%23183590' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23173190' cx='50' cy='800' r='50'/%3E%3Cg fill='%23152e8f' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23142a8f' cx='50' cy='900' r='50'/%3E%3Cg fill='%2313278f' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2312238F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    background-color: var(--fondo);
  }
  h1{
    font-size: 50px;
    font-family: sans-serif;
    text-align: left;
    background-color: var(--fondo_h1);
    color:white;
    padding: 20px;
  }
  h2{
      font-family: sans-serif;
  }
  nav ul{
      position: absolute;
      top: 2%;
      left: 30%;
      width: 100%;
      list-style-type: none;
  }
  nav li{
      display: inline-flex;
  }
  nav a{
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 30px;
      border: 3px var(--boton_borde) solid;
      background-color: var(--boton_background);
      text-decoration: none;
      color: white;
      padding: 20px;
      width: 100px;
  }
  nav a:hover {
    box-shadow: 0 0 20px #364A73, 0 0 20px #364A73, 0 0 90px #364A73;
    transition-delay: 1ms;
  }
div.redes_sociales{
    position: absolute;
    top: 20px;
    left: 95%;
    width: 50px;
}
div.redes_sociales img:hover{
    transition: 1s;
    transform: rotate(360deg);
}
div.redes_sociales li{
    display: inline-flex;
    width: 50px;
}
div.redes_sociales a{
    width: 50px;
}
div.redes_sociales img{
    width: 50px;
}

/* Media Queries */
@media(max-width: 768px){
nav ul{
    width: 85%;
    position: absolute;
    top: 20%;
    left: 14%;
}

div.redes_sociales{
    position: absolute;
    top: 1%;
    left: 75%;
}
}